/*
.momma {
  background: url("/images/momma.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

.rat {
  background: url("/images/momma.png");   -- need to change the path
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}
*/
