/* Game Page: */

body {
  margin: 0;
  padding: 0;
  background-color: #5e696c;
}

.kitten {
  background: url("./images/kitty.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

/* Winning Page: */
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Game Over Page: */

h1,
p,
img,
button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 4vw;
  font-weight: bolder;
  color: white;
  margin-top: 3vw;
}

p {
  font-size: 1.5vw;
  font-weight: bold;
  color: white;
  margin-top: 1.5vw;
  text-align: center;
}

#lost {
  width: 25vw;
  border-radius: 20%;
  border: solid white 4px;
}

a {
  text-decoration: none;
  color: white;
}

img,
button {
  margin-left: auto;
  margin-right: auto;
}

#won {
  width: 30vw;
  border-radius: 20%;
  border: solid white 4px;
}

button {
  text-decoration: none;
  font-size: 3vw;
  font-weight: bolder;
  color: white;
  letter-spacing: 0.7vw;
  background-color: transparent;
  border: none;
}

button:hover {
  background-color: #f55e61ac;
}

.lost-restart,
.won-restart {
  margin-top: 5vh;
  text-decoration: underline;
}
